// Start Banner
.banner {
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  overflow: hidden;
  z-index: 10;
  backdrop-filter: blur(15px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
  .calculator {
    position: relative;
    display: grid;
    .value {
      grid-column: span 4;
      height: 140px;
      width: 300px;
      text-align: right;
      border: none;
      outline: none;
      padding: 10px;
      font-size: 30px;
      background: transparent;
      color: white;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
      border-right: 1px solid rgba(255, 255, 255, 0.05);
    }
    span {
      display: grid;
      place-items: center;
      width: 75px;
      height: 75px;
      color: white;
      font-weight: 400;
      cursor: pointer;
      font-size: 20px;
      user-select: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
      border-right: 1px solid rgba(255, 255, 255, 0.05);
      transition: 0.5s;
      &:hover {
        transition: 0s;
        background: rgba(255, 255, 255, 0.05);
      }
      &:active {
        background: #14ff47;
        color: #192f00;
        font-size: 24px;
        font-weight: 500;
      }
    }
    .clear {
      grid-column: span 2;
      width: 150px;
      background: rgba(255, 255, 255, 0.05);
    }
    .plus {
      grid-row: span 2;
      height: 150px;
    }
    .equal {
      background: rgba(255, 255, 255, 0.05);
    }
  }
}
// End Banner
